/*****************************************
* VARIABLES
*****************************************/

// Colors
$white: #E1E1E1;
$black: #121212;
$gray: #B1B1B1;
$emphasis: darken(#BB86FC, 10%);
$emphasis-secondary: darken(#03DAC5, 10%);
$emphasis-hover: #BB86FC;
$emphasis-hover-secondary-hover: #03DAC5;
// Elevation
$dp-0: #CCCCCC;
$dp-1: $dp-0;

// Shadows
$shadow-1: rgba(17, 17, 26, 0.1) 0px 4px 12px, rgba(17, 17, 26, 0.05) 0px 8px 24px;
$shadow-2: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
$shadow-3: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
$shadow-4: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

// Fonts
$small-text-size: 0.8rem;
$medium-text-size: 1rem;
$large-text-size: 1.5rem;
$very-large-text-size: 2.5rem;

// Spacing
$small-gap: 1rem;
$medium-gap: 2rem;
$large-gap: 4rem;

$none: 0;

// Pretty
$input-radius: 8px;
$box-radius: 16px;


// Breakpoints
$small-form-breakpoint: 400px;
$mobile-breakpoint: 600px;
$tablet-breakpoint: 900px;
$desktop-breakpoint: 1200px;

body {
    input, select, textarea, button, optgroup, form, label, a img, svg .input, .input-group {
        box-sizing: border-box;
        padding: $none;
        margin: $none;
        border: 1px solid transparent;
        outline: none;
        color: $black;
        font-size: $medium-text-size;
        background-color: transparent;
    }
    textarea{
        resize: vertical;
    }
    .form {
        box-shadow: $shadow-1;
    }

    label{
        font-size: $small-text-size;
        color: $gray;
    }
    .input-group{
        position: relative;
        z-index: 0;
    }
    input[type=text].input.underline{
        display: block;
        padding: 1rem 0;
        width: 100%;
        border-bottom: 2px solid $gray;
        appearance: none;
    }

    .label.underline{
        position: absolute;
        top: 0.75rem;
        z-index: -10;
        transform: translateY(-1.5rem) scale(.75);
        transform-origin: 0;
        transition: transform 300ms ease-in-out;
    }

    .input-group:focus-within .label.underline{
        color: $emphasis;
        transform: translateY(-1.5rem) scale(.75);
        inset-inline-start: 0;
    }

    .input.underline:placeholder-shown + .label.underline{
        transform: translateY(0) scale(1);
    }
}

body.dark {
    $dp-0: #121212;
    $dp-1: lighten($dp-0, 5%);
    $dp-2: lighten($dp-0, 7%);
    $dp-3: lighten($dp-0, 8%);
    $dp-4: lighten($dp-0, 9%);
    $dp-6: lighten($dp-0, 11%);
    $dp-8: lighten($dp-0, 12%);
    $dp-12: lighten($dp-0, 14%);
    $dp-16: lighten($dp-0, 15%);
    $dp-24: lighten($dp-0, 16%);
    $emphasis: #BB86FC;
    $emphasis-secondary: #03DAC5;
    $emphasis-hover: lighten($emphasis, 10%);
    $secondary-hover-color: lighten($emphasis-secondary, 10%);
    $shadow-1: rgba(248, 248, 229, 0.1) 0px 4px 12px, rgba(248, 248, 229, 0.05) 0px 8px 24px;
    $shadow-2: rgba(248, 248, 229, 0.1) 0px 1px 0px, rgba(248, 248, 229, 0.1) 0px 8px 24px, rgba(248, 248, 229, 0.1) 0px 16px 48px;
    $shadow-3: rgba(248, 248, 229, 0.1) 0px 4px 16px, rgba(248, 248, 229, 0.1) 0px 8px 24px, rgba(248, 248, 229, 0.1) 0px 16px 56px;
    $shadow-4: rgba(248, 248, 229, 0.1) 0px 8px 24px, rgba(248, 248, 229, 0.1) 0px 16px 56px, rgba(248, 248, 229, 0.1) 0px 24px 80px;

    input, select, textarea, button, optgroup, form, label, a img, svg .input, .input-group {
        color: $white;
    }

    .form{
        background-color: $dp-1;
        box-shadow: $shadow-2;
    }

    input[type=text].input.underline{
        border-color: $gray;
        box-shadow: $shadow-1;
        background-color: $dp-2;
    }
    input[type=text].input.underline:focus,
    input[type=text].input.underline:hover{
        border-color: $emphasis;
    }
}


@media (prefers-color-scheme: dark) {
}
